<div class="container">
  <p>
    <mat-toolbar style="align-content: center;background-color:#4267B2;">
      <span>Login to xFlow</span>
    </mat-toolbar>
    </p>

  <hr>
  <label for="email"><b>Enter Email</b></label>
  <input type="text" placeholder="Enter Email" name="firstname" id="txt_email" required>
  <label for="psw"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

  <hr>


  <button type="submit" style="background-color: #4267B2;" class="registerbtn">Click to Login</button>
</div>

<div class="container signin">
  <p>Don't have an account? <a [routerLink]="['/register']" routerLinkActive="active">Register here</a>.</p>
</div>
<div class="container signin">
  <p>Facing Trouble? mail to <a>srihan93@gmail.com</a></p>
</div>
